In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [2]:
# loading the diabetes dataset to a pandas DataFrame
diabetes_dataset = pd.read_csv('dataset/MSLQ_All.csv')

In [3]:
# printing the first 5 rows of the dataset
diabetes_dataset.head()

,sex,math,sci,comsci,thai,eng,reh,ela,org,cri,...,ego,task,ctrl,sef,test,time,eff,peer,help,Class
0,2,4,4,4,4,4,3.75,4.00,2.75,4.0,...,5.50,4.00,4.25,2.38,5.4,3.25,5.25,2.33,5.75,3
1,2,4,4,4,4,4,3.25,5.50,4.50,4.4,...,6.00,5.83,5.00,4.88,4.6,4.25,3.75,4.33,5.25,3
2,2,3,4,4,4,4,3.25,4.33,3.50,3.8,...,5.25,4.50,3.75,4.00,3.8,3.63,3.50,4.33,3.50,3
3,2,4,4,4,4,4,2.00,3.17,1.50,2.4,...,3.25,1.67,2.00,1.75,1.2,1.25,1.75,1.33,2.50,3
4,2,3,3,1,1,2,3.75,3.50,4.50,4.6,...,5.00,4.00,3.00,3.00,3.6,3.50,4.25,4.00,4.50,1

In [4]:
# number of rows and Columns in this dataset
diabetes_dataset.shape

(1018, 22)

In [5]:
# getting the statistical measures of the data
diabetes_dataset.describe()

,sex,math,sci,comsci,thai,eng,reh,ela,org,cri,...,ego,task,ctrl,sef,test,time,eff,peer,help,Class
count,1018.000000,1018.000000,1018.000000,1018.000000,1018.000000,1018.000000,1018.000000,1018.000000,1018.000000,1018.000000,...,1018.000000,1018.000000,1018.000000,1018.000000,1018.000000,1018.000000,1018.000000,1018.000000,1018.000000,1018.000000
mean,1.531434,2.913556,3.073674,3.316306,3.122790,3.055992,4.032171,4.234980,4.137033,4.245383,...,4.500737,4.475796,4.345776,4.506287,4.344597,4.288409,4.392682,4.289686,4.472986,2.346758
std,0.499256,0.873736,0.818586,0.894729,0.905382,0.837781,1.184860,1.174734,1.244164,1.185932,...,1.317919,1.204991,1.165259,1.176274,1.208067,1.016886,1.128849,1.206233,1.178566,0.782424
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.250000,1.330000,1.000000,1.200000,...,1.000000,1.500000,1.000000,1.130000,1.000000,1.250000,1.250000,1.000000,1.000000,0.000000
25%,1.000000,2.000000,3.000000,3.000000,3.000000,3.000000,3.250000,3.500000,3.250000,3.400000,...,3.500000,3.830000,3.562500,3.750000,3.600000,3.630000,3.750000,3.670000,3.750000,2.000000
50%,2.000000,3.000000,3.000000,4.000000,3.000000,3.000000,4.000000,4.000000,4.000000,4.200000,...,4.500000,4.330000,4.250000,4.380000,4.200000,4.250000,4.250000,4.000000,4.500000,3.000000
75%,2.000000,4.000000,4.000000,4.000000,4.000000,4.000000,5.000000,5.000000,5.000000,5.000000,...,5.687500,5.330000,5.000000,5.380000,5.200000,5.000000,5.250000,5.000000,5.250000,3.000000
max,2.000000,4.000000,4.000000,4.000000,4.000000,4.000000,7.000000,6.830000,7.000000,7.000000,...,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,3.000000

In [7]:
diabetes_dataset['Class'].value_counts()

3    515
2    375
1     94
0     34
Name: Class, dtype: int64

In [9]:
diabetes_dataset.groupby('Class').mean()

,sex,math,sci,comsci,thai,eng,reh,ela,org,cri,...,igo,ego,task,ctrl,sef,test,time,eff,peer,help
Class,,,,,,,,,,,,,,,,,,,,,
0,1.441176,2.147059,2.264706,1.970588,1.735294,1.941176,3.272059,3.117059,3.308824,3.535294,...,3.345588,3.764706,3.147059,3.264706,3.435294,3.858824,3.490294,3.875000,3.725000,3.985294
1,1.372340,1.914894,1.882979,1.914894,1.893617,2.180851,3.468085,3.462553,3.228723,3.261702,...,3.186170,3.404255,3.236170,3.316489,3.392447,3.351064,3.528298,3.510638,3.553936,3.742021
2,1.397333,2.613333,2.869333,3.248000,2.786667,2.832000,3.886667,4.013440,3.970667,3.939200,...,4.104667,4.146667,4.266080,4.110000,4.209520,4.131733,4.055707,4.168667,4.061040,4.170000
3,1.664078,3.365049,3.493204,3.710680,3.683495,3.452427,4.291262,4.611087,4.478641,4.694757,...,4.669417,5.007282,4.942485,4.776699,4.996388,4.713010,4.649282,4.750971,4.627748,4.859223

In [11]:
# separating the data and labels
X = diabetes_dataset.drop(columns = 'Class', axis=1)
Y = diabetes_dataset['Class']

In [12]:
print(X)

      sex  math  sci  comsci  thai  eng   reh   ela   org  cri  ...   igo  \
0       2     4    4       4     4    4  3.75  4.00  2.75  4.0  ...  2.75
1       2     4    4       4     4    4  3.25  5.50  4.50  4.4  ...  5.00
2       2     3    4       4     4    4  3.25  4.33  3.50  3.8  ...  3.75
3       2     4    4       4     4    4  2.00  3.17  1.50  2.4  ...  1.50
4       2     3    3       1     1    2  3.75  3.50  4.50  4.6  ...  3.75
...   ...   ...  ...     ...   ...  ...   ...   ...   ...  ...  ...   ...
1013    1     4    4       4     4    4  3.00  2.17  2.25  2.2  ...  2.00
1014    1     4    4       4     4    4  2.75  2.50  2.50  3.0  ...  2.75
1015    1     4    4       4     4    3  5.75  4.67  4.25  4.2  ...  4.25
1016    1     1    2       1     1    2  2.50  1.50  1.00  1.8  ...  2.25
1017    1     1    1       1     1    1  3.50  3.33  3.00  3.0  ...  3.50

       ego  task  ctrl   sef  test  time   eff  peer  help
0     5.50  4.00  4.25  2.38   5.4  3.25  5.25  2.33  5.75
1     6.00  5.83  5.00  4.88   4.6  4.25  3.75  4.33  5.25
2     5.25  4.50  3.75  4.00   3.8  3.63  3.50  4.33  3.50
3     3.25  1.67  2.00  1.75   1.2  1.25  1.75  1.33  2.50
4     5.00  4.00  3.00  3.00   3.6  3.50  4.25  4.00  4.50
...    ...   ...   ...   ...   ...   ...   ...   ...   ...
1013  3.25  2.50  2.75  2.88   2.6  2.88  2.75  3.00  2.25
1014  2.50  4.17  3.00  3.63   3.0  3.00  2.25  2.33  2.75
1015  4.50  3.67  3.75  4.75   3.4  3.88  4.00  3.67  3.75
1016  3.25  2.67  3.00  2.75   3.6  2.25  4.00  4.00  2.75
1017  3.25  3.00  3.00  3.38   3.4  3.13  3.50  3.33  3.75

[1018 rows x 21 columns]

In [13]:
print(Y)

0       3
1       3
2       3
3       3
4       1
       ..
1013    2
1014    3
1015    3
1016    1
1017    0
Name: Class, Length: 1018, dtype: int64

In [14]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2, stratify=Y, random_state=2)

In [15]:
print(X.shape, X_train.shape, X_test.shape)

(1018, 21) (814, 21) (204, 21)

In [16]:
classifier = svm.SVC(kernel='linear')

In [17]:
#training the support vector Machine Classifier
classifier.fit(X_train, Y_train)

SVC(kernel='linear')

In [21]:
# accuracy score on the training data
X_train_prediction = classifier.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [22]:
print('Accuracy score of the training data : ', training_data_accuracy)

Accuracy score of the training data :  0.8722358722358723

In [23]:
# accuracy score on the test data
X_test_prediction = classifier.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [24]:
print('Accuracy score of the test data : ', test_data_accuracy)

Accuracy score of the test data :  0.8284313725490197

In [28]:
sex = 1
math = 3.23
sci = 3.21
comsci = 3.98
thai = 3.99
eng = 3.40
peer =3.21
reh = 3.23
eff = 3.45
help = 3.45
igo = 6.55
ctrl = 6.45
ego = 6.32
org = 5.89
cri = 5.89
test = 6.00
ela = 6.00
task = 5.00
time = 5.89
sef = 5.00
meta = 6.00
input_data = (sex,math,sci,comsci,thai,eng,reh,ela,org,cri,meta,igo,ego,task,ctrl,sef,test,time,eff,peer,help)
    


# changing the input_data to numpy array
input_data_as_numpy_array = np.asarray(input_data)

# reshape the array as we are predicting for one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = classifier.predict(input_data_reshaped)
print(prediction)

[3]

C:\Users\Nigel-Lenovo\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(

In [29]:
import pickle

In [32]:
filename = 'svm_model'
pickle.dump(classifier, open(filename, 'wb'))

In [33]:
# loading the saved model
loaded_model = pickle.load(open('svm_model', 'rb'))

In [34]:
sex = 1
math = 3.23
sci = 3.21
comsci = 3.98
thai = 3.99
eng = 3.40
peer =3.21
reh = 3.23
eff = 3.45
help = 3.45
igo = 6.55
ctrl = 6.45
ego = 6.32
org = 5.89
cri = 5.89
test = 6.00
ela = 6.00
task = 5.00
time = 5.89
sef = 5.00
meta = 6.00
input_data = (sex,math,sci,comsci,thai,eng,reh,ela,org,cri,meta,igo,ego,task,ctrl,sef,test,time,eff,peer,help)
    


# changing the input_data to numpy array
input_data_as_numpy_array = np.asarray(input_data)

# reshape the array as we are predicting for one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = classifier.predict(input_data_reshaped)
print(prediction)

[3]

C:\Users\Nigel-Lenovo\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(